#!/usr/bin/make -f
# Build Debian package using dh-virtualenv
# Installs a self-contained virtualenv at /opt/wlanpi-fpms2/

export DH_VIRTUALENV_INSTALL_ROOT=/opt
SNAKE=/usr/bin/python3
PACKAGE=$(shell dh_listpackages)
DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)

%:
	dh $@ --with python-virtualenv

.PHONY: override_dh_virtualenv override_dh_strip override_dh_shlibdeps override_dh_dwz

override_dh_dwz:

override_dh_virtualenv:
	dh_virtualenv \
		--install-suffix "wlanpi-fpms2" \
		--builtin-venv \
		--python ${SNAKE} \
		--upgrade-pip \
		--preinstall="setuptools>=68" \
		--preinstall="wheel" \
		--extra-pip-arg="--compile" \
		--extras="screen"

override_dh_strip:
	dh_strip --exclude=cffi --exclude=_imaging

override_dh_shlibdeps:
	dh_shlibdeps -X/PIL/
