[Unit]
Description=WLANPi FPMS2 State Service
After=network.target
# Conflict with old fpms — only one may run at a time
Conflicts=wlanpi-fpms.service

[Service]
Type=simple
User=wlanpi
Group=wlanpi
ExecStart=/usr/bin/wlanpi-fpms2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
